.component-home {
    position: relative;
    background-image: url("../img/bg-buddha.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100vh;
}

@media only screen and (min-width: 992px) {
    .component-home {
        position: relative;
    background-image: url("../img/bg-buddha.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100vh;
    }
} 