.component-result {
    position: relative;
    background-image: url("../images/old-temple.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100vh;
    animation: fade-in ease 2s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    display: none;
    vertical-align: middle;
}

.overlay-text {
    opacity: 1;
}

.expand-y {
    height: 100vh;
}

.title {
    font-family: 'KRR-Thaispirit';
    font-size: 24pt;
    color: white;
}

.text-large {
    font-family: 'KRR-Thaispirit';
    font-size: 20pt;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: brown;
}

p {
    font-family: 'KRR-Thaispirit';
    font-size: 16pt;
    color: white;
}

.text-btn {
    font-family: 'KRR-Thaispirit';
    font-size: 16pt;
    color: white;
}

.text-btn:hover {
    color: brown;
}

@media only screen and (min-width: 992px) {
    .title {
        font-family: 'KRR-Thaispirit';
        font-size: 32pt;
        color: white;
    }

    .text-large {
        font-family: 'KRR-Thaispirit';
        font-size: 24pt;
        color: white;
    }

    p {
        font-family: 'KRR-Thaispirit';
        font-size: 20pt;
        color: white;
    }

    .text-btn {
        font-family: 'KRR-Thaispirit';
        font-size: 20pt;
        color: white;
    }
}